@charset "utf-8";

@import url('reset.css');

/************** visual  ****************************/

#visual {height:100%; position:relative; background:url('../img/main_bg.jpg') no-repeat; background-size: cover; }
.section {display:table; table-layout:fixed; width:100%; text-align:center; height:100%}
.fp-tableCell {display:table-cell; vertical-align:middle; width:100%; height:100%}
h1.tit {position: relative; top: 0%;  font-size: 72px; font-weight: 200; text-align: center; text-transform: uppercase;  opacity: 0; z-index: 100;}

#fp-nav {position:fixed; right:10px; top: 50%; opacity: 1;transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translate3d(0, -50%, 0); z-index:999}
#fp-nav ul li {display:block; width:14px; height:13px; margin:7px; position:relative;}
#fp-nav ul li a {display:block; position:relative; width:100%; height:100%; cursor:pointer; }
#fp-nav ul li a span {border-radius: 50%; position: absolute; z-index: 1; height: 4px; width: 4px; border: 0; background: #000; box-shadow: 0px 2px 5px rgb(87 124 147 / 30%); left: 50%;  top: 50%;  margin: -2px 0 0 -2px; -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out; -o-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out;}
#fp-nav ul li a.active span, #fp-nav ul li a.active:hover span {height: 12px; width: 12px; margin: -6px 0 0 -6px; border-radius: 100%;}
#fp-nav ul li a.active span {box-shadow: rgba(10, 205, 206, 0.5) 0rem 0rem 0.8rem; background: rgb(10, 205, 206) !important;}
#fp-nav ul li a:hover span {width:10px; height:10px; margin:-5px 0 0 -5px;}
#fp-nav ul li .fp-tooltip {position: absolute; top: -4px; color: #666; font-size: 14px; font-family: arial,helvetica,sans-serif; white-space: nowrap; max-width: 220px; overflow: hidden; display: block; opacity: 0; width: 0; right:20px;}
#fp-nav ul li:hover .fp-tooltip,#fp-nav.fp-show-active a.active+.fp-tooltip {-webkit-transition: opacity .2s ease-in; transition: opacity .2s ease-in; width: auto; opacity: 1}

.fadeInDown {-webkit-animation-name: fadeInDown;animation-name: fadeInDown;}

/************** mouse  ****************************/
.mouse { margin:0 auto;border:2px solid #fff;position: relative;width: 52px;height: 88px; border-radius: 100px; background-size: 100% 200%; -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;  animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite; cursor: pointer;}
.mouse:before, .mouse:after {content: ""; position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;}
.mouse:before {width: 46px;height: 82px;   border-radius: 100px;}
.mouse:after {background-color: #ffffff; width: 10px; height: 10px; border-radius: 100%; -webkit-animation: trackBallSlide 5s linear infinite; animation: trackBallSlide 5s linear infinite;}

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    border-color: #efefef;
  }
  29.99% {
    border-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    border-color: #efefef;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    border-color: #efefef;
  }
  59% {
    border-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    border-color: #efefef;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    border-color: #efefef;
  }
  90%, 100% {
    border-color: #ffffff;
  }
}

@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  15%, 19% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  28%, 29.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  45%, 49% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  58%, 59.99% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    transform: scale(0.4) translateY(40px);
  }
  75%, 79% {
    opacity: 0;
    transform: scale(0.4) translateY(-20px);
  }
  88%, 100% {
    opacity: 1;
    transform: scale(1) translateY(-20px);
  }
}
@-webkit-keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(8px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0);
  }
}
@-webkit-keyframes nudgeText {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(0);
  }
}
@keyframes nudgeText {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(2px);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(0);
  }
}
@-webkit-keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}
@keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}


.contents {max-width:1200px; margin-left:auto; margin-right:auto;}
.contents h2 {font-size:2em; }
.skill_list {display:flex; margin:5em 0; align-items: center;}
.skill_list li {display:inline-block; width:25%; }
/*.skill_list li img {width:100%}*/

.mouse_area {position: absolute; bottom: 10px; left: 0; right: 0;}
.mouse_area p {margin-top: 50px; font-family: "Cabin", sans-serif; letter-spacing: 12px; text-indent: 12px; color: #ffffff; -webkit-animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite; animation: colorText 5s ease-out infinite, nudgeText 5s ease-out infinite;}

/************** SLIDER  ****************************/
#flex-container { position: relative; width: 100%; _overflow:hidden; padding-top:5em}
.slick-track li {overflow:hidden; float:left}
.slick-track li:after {content: ""; display: block; height: 0;  clear: both; visibility: hidden;}
.slider-item .img {float:right; width:70%; text-align: right;}

.slider-item .slider-content {z-index: 2; position: absolute; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width:30%}
.slider-item h2 {font-size:1.8em; opacity: 0; color:#000; -webkit-transition: opacity 0.5s,-webkit-transform 0.5s; -o-transition: opacity 0.5s,transform 0.5s; padding-bottom:20px; text-align:left; 
	transition: opacity 0.5s,-webkit-transform 0.5s;  transition: opacity 0.5s,transform 0.5s; transition: opacity 0.5s,transform 0.5s,-webkit-transform 0.5s; -webkit-transform: translateX(100px); -ms-transform: translateX(100px); transform: translateX(100px);}
.slider-item .btn_area {display:flex; margin-top:20px;}
.slider-item .button {font-family: yg-jalnan; display: inline-block; width: -webkit-fit-content; width: -moz-fit-content; width: fit-content; padding: 10px 55px 10px 30px; border: 2px solid transparent; text-decoration: none;
    text-transform: uppercase; color: #000; opacity: 0; background-color: #fff; -webkit-transition: opacity 0.9s,-webkit-transform 0.9s; -o-transition: opacity 0.9s,transform 0.9s; transition: opacity 0.9s,-webkit-transform 0.9s; transition: opacity 0.9s,transform 0.9s;
    transition: opacity 0.9s,transform 0.9s,-webkit-transform 0.9s;-webkit-transform: translateX(100px); -ms-transform: translateX(100px); transform: translateX(100px);border-radius:50px;ox-shadow: 1px 1px 10px #ccc;background:url("../img/arrow.gif") 90% center no-repeat;}
.slider-item .button:hover { border-color: #93c04d; color: #93c04d; background-color: #fff;}
.slider-item h3 {font-size:1.3em; text-align:left;  opacity: 0; color:#000; -webkit-transition: opacity 0.5s,-webkit-transform 0.5s; -o-transition: opacity 0.5s,transform 0.5s; ; 
	transition: opacity 0.5s,-webkit-transform 0.5s;  transition: opacity 0.5s,transform 0.5s; transition: opacity 0.5s,transform 0.5s,-webkit-transform 0.5s; -webkit-transform: translateX(100px); -ms-transform: translateX(100px); transform: translateX(100px);}
.slider-item p {margin-bottom:20px; text-align:left;  opacity: 0; color:#000; -webkit-transition: opacity 0.5s,-webkit-transform 0.5s; -o-transition: opacity 0.5s,transform 0.5s; ; 
	transition: opacity 0.5s,-webkit-transform 0.5s;  transition: opacity 0.5s,transform 0.5s; transition: opacity 0.5s,transform 0.5s,-webkit-transform 0.5s; -webkit-transform: translateX(100px); -ms-transform: translateX(100px); transform: translateX(100px);}
.slick-slider {overflow:hidden; position: relative; display: block; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-user-select: none;  -moz-user-select: none; -ms-user-select: none;  user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent;}
.slick-slider { margin: 0; padding: 0 !important;}
.slick-active h2 span {display:block;}
.slick-active h2,.slick-active h3,.slick-active .button,.slick-active p {z-index: 9999; opacity: 1; -webkit-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px);}
.slick-active .button { width: -webkit-max-content; width: -moz-max-content; width: max-content; border-radius:50px; border:2px solid #000; }

.slick-dots {position:absolute; bottom:10px; left:35px; z-index:999}
.slick-dots li {float:left; width:10px; height:10px; border-radius:50px; background:#000; margin:10px; font-size:0; cursor: pointer;}
.slick-dots li button {font-size:0; }
.slick-dots li.slick-active {box-shadow: rgba(10, 205, 206, 0.5) 0rem 0rem 0.8rem;   background: rgb(10, 205, 206) !important;}
.slider-control {z-index: 99; position: absolute; left: 0; bottom: 5px; bottom:50%; width:100%;}

.next, .prev {display: inline-block; border: none; color: #000; -webkit-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; cursor: pointer;}
.prev {border: none; position:absolute; bottom:0;z-index:99; transform: translateY(calc(-50% - 4.8rem));animation: 1s ease-in-out 0s infinite alternate both running nextBtnAni; right: calc(100% + 2.4rem); transform: rotate(0deg);}
.next {border: none; position:absolute; bottom:0; z-index:99; transform: translateY(calc(-50% - 4.8rem));animation: 1s ease-in-out 0s infinite alternate both running nextBtnAni; left: calc(100% + 2.4rem); transform: rotate(-180deg);}

/************** layer pup  ****************************/
#lay_view {display: none; width: 1200px; margin: 0 auto; position: fixed; top: 10%; height: 100%; right: 0; left: 0; z-index: 99;}
.view_area {border-radius:20px;  left:0; right:0; background:#fff; border-radius:20px;  padding:2em; }
.view_in {height:700px;}
 h3.if {font-size:2.25rem; padding-bottom:40px; font-weight:500}
 h4.if {font-size:1.8rem; padding-bottom:20px; font-weight:500; padding-top: 10px;}
p.if {margin-bottom:10px;}
div.if {float:none; text-align:center; margin-bottom:40px;}
.tab_btn {display:flex; justify-content: center; margin-bottom:40px !important;}

.tab_btn > li {display:inline-block; margin-left:-1px; padding:0 !important}
.tab_btn > li a {padding:15px 25px; text-align:center; border:1px solid #333; display:block;}
.tab_btn > li.active a {border-width:4px; border-bottom:0; padding:14px 25px}

.btn_close {position:absolute; right:0; top:-50px; float: left; width:40px; height:40px; overflow: hidden; transition: 0.3s; transform: rotate(360deg);}
.btn_close:before {content: ''; width: 30px; height: 3px; position: absolute; top: 20px; left: 0;transform: rotate(-45deg); background: #fff;}
.btn_close:after {content: ''; width: 30px; height: 3px; position: absolute; bottom:17px; left:1px; transform: rotate(45deg); background: #fff;}

.con {-webkit-animation-name: content;  animation-name: content; -webkit-animation-direction: normal; animation-direction: normal; -webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; display:none;}
.con.active {display:block;}
.sk >.slick-slider > .slick-list > .slick-track, .sk > .slick-slider > .slick-list > .slick-track li {width:100% !important}
.overlay {display: none; position: fixed; left: 0; top: 0; height: 100%; width: 100%; background: #333; overflow: auto; z-index:999; opacity: 0.8;}

@media (max-width:1400px )  {
	.slider-control {display:none;}
}

@media (max-width:1200px )  {
	.slider-item .slider-content {padding-left:3%;}
	.slider-item .img img {width:100%}
	.skill_list li img.w100 {width:100%}
	.slider-item .img {width:60%;}
	#lay_view {width:100%; margin:0 auto;}
}

@media (max-width:1000px )  {
	.con {padding:0 2.45rem;}
	.slider-item .slider-content {padding-left:0}
	.slider-item h2 {font-size:1.6em;}
	.slider-item h3 {display:none}
	.slider-item p {margin-bottom:10px}
	.slick-dots {bottom:0}

}

@media (max-width:800px )  {
	.slider-item .img {float:none; text-align:center; width:100%}
	.slider-item .slider-content {width:100%; position:static; transform: translateY(-0%);}
	.slick-dots {text-align: center; position:static; display: flex; width: 100%; justify-content: center;}

}


@media (max-width:730px )  {
  .skill_list {padding:0 2em; display:flex; align-items: center;}
  .skill_list li {width:25%;; padding:0 0.5em}
  .skill_list li img {width:100%}
 
}

@media (max-width:700px )  {
	
	
}
